datasets/sst/.ipynb_checkpoints/
datasets/sst/data/
datasets/multirc/.ipynb_checkpoints/
datasets/multirc/data/
datasets/multirc/multirc/
datasets/agnews/.ipynb_checkpoints/
datasets/agnews/data/
datasets/semeval/.ipynb_checkpoints/
datasets/semeval/data/
datasets/evinf/.ipynb_checkpoints/
datasets/evinf/data/
experiment_config/
experiment_logs/
*.sh
evaluation_results/*/*of.json
models/
rationale_models/
extracted_rationales/
*.out
rationale_models/
evaluation_results/
plots_and_tabs/